### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

### VS Code
export/*
.haxelib/
*.code-workspace
# Local history which shouldn't be shared.
.history
.ionide

# Removes .DS_Store file, i dont know what that is shit
.DS_Store